<mat-toolbar color="primary" style="display: flex;">
  <span>Simple Validation</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-raised-button color="" (click)="validate()" [disabled]="disableValidateButton">
    @if (shouldShowButtonProgress) {
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
    Validate
  </button>
</mat-toolbar>

<div style="display: flex; flex-direction: column; padding: 10px;">
  <div class="flex-item">
    <mat-card>
      <mat-card-title>
        <div class="card-title-container">
          <span class="title-text">Personal Information</span>
        </div>
      </mat-card-title>
      <ngx-component-validator [model]="person" [policy]="PERSON_POLICY_NAME"
      [policyFnRef]="PERSON_VALIDATION_FN"></ngx-component-validator>

      <mat-grid-list cols="3" rowHeight="85px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" ngxMatValidate [model]="person"
              validateProperty="firstName" [policy]="PERSON_POLICY_NAME"
              [(ngModel)]="person.firstName" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Last Name" ngxMatValidate [model]="person"
                validateProperty="lastName" [policy]="PERSON_POLICY_NAME"
                [(ngModel)]="person.lastName" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="gender-field-container">
                <label class="gender-label">Gender:</label>
                <mat-radio-group class="radio-group" [(ngModel)]="person.gender" ngxMatValidate
                  [model]="person" validateProperty="gender" [policy]="PERSON_POLICY_NAME">
                  @for (g of genderOptions; track g) {
                    <mat-radio-button [value]="g.value">{{g.label}}</mat-radio-button>
                  }
                </mat-radio-group>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Age" ngxMatValidate  [model]="person" out
                  validateProperty="age" [policy]="PERSON_POLICY_NAME" [(ngModel)]="person.age" />
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput placeholder="Email ID" ngxMatValidate  [model]="person"
                    validateProperty="email" [policy]="PERSON_POLICY_NAME" [(ngModel)]="person.email" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Address Line 1" ngxMatValidate
                      [model]="person" validateProperty="address.line1" [policy]="PERSON_POLICY_NAME"
                      [(ngModel)]="person.address.line1" />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field>
                      <input matInput placeholder="Address Line 2" ngxMatValidate
                        [model]="person" validateProperty="address.line2" [policy]="PERSON_POLICY_NAME"
                        [(ngModel)]="person.address.line2" />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field>
                        <input matInput placeholder="City" ngxMatValidate  [model]="person"
                          validateProperty="address.city" [policy]="PERSON_POLICY_NAME"
                          [(ngModel)]="person.address.city" />
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field>
                          <mat-label>State</mat-label>
                          <mat-select ngxMatValidate  [model]="person"
                            validateProperty="address.state" [policy]="PERSON_POLICY_NAME"
                            [(ngModel)]="person.address.state">
                            @for (s of states; track s) {
                              <mat-option [value]="s.value">
                                {{s.viewValue}}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field>
                          <input matInput placeholder="Zip Code" ngxMatValidate  [model]="person"
                            validateProperty="address.zip" [policy]="PERSON_POLICY_NAME"
                            [(ngModel)]="person.address.zip" />
                          </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>

                        </mat-grid-tile>

                      </mat-grid-list>

                    </mat-card>
                  </div>

                </div>