::ng-deep mat-radio-group > .mat-radio-button {
    padding-right: 15px;
}

mat-card {
    margin: 10px;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }