<mat-card ngxMatGroupValidityCheck="section2" (groupValidationStatusChange)="handleGroupValidationStatusChange($event)">
    <mat-card-title>Section 2
        <mat-icon *ngIf="showSectionErrorStatus" style="color:red">error_outline</mat-icon>
        <mat-icon *ngIf="!showSectionErrorStatus" style="color:green">check_circle_outline</mat-icon>
    </mat-card-title>
    <mat-grid-list cols="5" rowHeight="65px">
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 1" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label1" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label1" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 2" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label2" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label2" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 3" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label3" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label3" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 4" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label4" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label4" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 5" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label5" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label5" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 6" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label6" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label6" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 7" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label7" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label7" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 8" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label8" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label8" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 9" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label9" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label9" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="label 10" ngxMatValidate ngxMatRequired [model]="bigdoc"
                    validateProperty="section2.label10" [policy]="ORDER_POLICY_NAME"
                    [(ngModel)]="bigdoc.section2.label10" />
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
</mat-card>