<mat-toolbar color="primary" style="display: flex;">
    <span>100 input Form Validation</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button mat-raised-button color="" (click)="validate()"> Validate</button>
</mat-toolbar>

<ngx-component-validator [model]="bigdoc" [policy]="ORDER_POLICY_NAME" [policyFnRef]="ORDER_VALIDATION_FN">
</ngx-component-validator>
<!--  -->

<!-- <cdk-virtual-scroll-viewport itemSize="3" class="example-viewport"> -->
    <!-- <div  *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
    <!-- <ng-template ad-host [model]="bigdoc" [compName]="item" [policy]="ORDER_POLICY_NAME" *cdkVirtualFor="let item of componentList" class="example-item"></ng-template>
  </cdk-virtual-scroll-viewport> -->
<!-- <ng-template ad-host [model]="bigdoc" [compName]="item" [policy]="ORDER_POLICY_NAME" *cdkVirtualFor="let item of componentList" class="example-item"></ng-template>     -->
